DATABASE_URL=postgresql+asyncpg://usuario:contrasena@localhost:5432/capricho_store
APP_NAME=Capricho Store API
APP_ENV=development
DEBUG=false
SECRET_KEY=reemplazar-con-una-clave-aleatoria-de-32-caracteres-o-mas
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
CORS_ORIGINS=http://127.0.0.1:4200,http://localhost:4200
REDIS_URL=redis://localhost:6379/0
BREVO_API_KEY=reemplazar-con-api-key-de-brevo
BREVO_SENDER_EMAIL=no-reply@tu-dominio.com
BREVO_SENDER_NAME=Capricho Store
PASSWORD_RESET_OTP_EXPIRE_MINUTES=10
PASSWORD_RESET_OTP_MAX_ATTEMPTS=5
PASSWORD_RESET_REQUEST_COOLDOWN_SECONDS=60
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=10
