DATABASE_URL=postgresql+asyncpg://usuario:contrasena@localhost:5432/capricho_store
APP_NAME=Capricho Store API
APP_ENV=development
DEBUG=false
SECRET_KEY=reemplazar-con-una-clave-aleatoria-de-32-caracteres-o-mas
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
CORS_ORIGINS=http://127.0.0.1:4200,http://localhost:4200
